@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #feca01;
    --secondary-clr: #69ce73;
    --dark-clr: #212121;
    --light-clr: #ebebeb;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kumbh Sans", sans-serif;
    color: var(--dark-clr);
    background-color: currentColor;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 32px currentColor;
    cursor: pointer;
}

.first-circle {
    color: var(--primary-clr);
    background-color: currentColor;
}

.second-circle {
    color: var(--secondary-clr);
    background-color: currentColor;
    position: absolute;
}

.first-icon, .second-icon {
    width: 40%;
}

/* Utility classes */
.color--light {
    color: var(--light-clr);
}

.display--none {
    display: none;
}

.animation--reverse-pulse {
    z-index: -1;
    animation: 2000ms reversePulse ease-in-out forwards;
}

.animation--inner-pulse {
    animation: 2000ms innerPulse ease-in-out forwards;
}

.animation--pulse {
    animation: 1150ms pulse ease-in-out infinite;
}

/* Animations */
@keyframes pulse {
    0% {transform: scale(1)}
    10% {transform: scale(1.05);}
    25% {transform: scale(0.95);}
    35% {transform: scale(1.1);}
    50% {transform: scale(0.95);}
    100% {transform: scale(1)}
}

@keyframes innerPulse {
    0% {transform-origin: center; transform: scale(0);}
    15% {transform: scale(0.2);}
    25% {transform: scale(0.1);}
    40% {transform: scale(0.5);}
    55% {transform: scale(0.35);}
    65% {transform: scale(0.8);}
    80% {transform: scale(0.6);}
    90% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@keyframes reversePulse {
    0% {transform-origin: center; transform: scale(1);}
    15% {transform: scale(1.1);}
    25% {transform: scale(0.1);}
    100% {transform: scale(0);}
}